<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sung.note.memo" >

    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/memo_icon_blue"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.note.EditArticle"
            android:label="@string/title_activity_edit_article"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.note.EditHistory"
            android:label="@string/history" >
        </activity>

        <!-- MultiImageSelectorActivity -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.note.ArticleList"
            android:label="@string/title_activity_article_list" >
        </activity>
        <activity
            android:name=".ui.todolist.MemoList"
            android:label="@string/title_activity_memo_list" >
        </activity>
        <activity
            android:name=".ui.note.ArticleDetail"
            android:label="@string/title_activity_article_detail" >
        </activity>
        <activity
            android:name=".ui.todolist.MemoDetail"
            android:label="@string/title_activity_memo_detail" >
        </activity>
        <activity android:name=".ui.index.MemoIndexActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
